body {
  background-color: #d9d9d9;
}

#list {
  height: 40px;
  width: 100px;
  padding: 2px;
  font-family: "Courier New", Courier, monospace;
  color: #142440;
}

button {
  background-color: #9ebee7;
  border: solid 1px #142440;
  padding: 10px 15px;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  font-size: 15px;
}

textarea {
  margin-top: 10px;
  border: solid 1px #142440;
  border-radius: 0;
  color: #142440;
}
